@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
}

.nav {
    width: 100%;
    height: 80px;
    background: #1616db;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: inline-block;
    position: absolute;
}

.logo img {
    padding: 20px 0;
}

.menu {
    display: inline-block;
    position: absolute;
    line-height: 80px;
    right: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: #fff;
    font-weight: 600;
    padding: 0 25px;
    display: block;
    transition: .4s;
}

.menu ul li a:hover {
    color: #1616db;
    background: #fff;
    -webkit-box-shadow: 5px 17px 20px -10px rgba(22, 22, 219, 0.4);
    box-shadow: 5px 17px 20px -10px rgba(22, 22, 219, 0.4);
}

.content {
    display: block;
}

.title {
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-size: 35px;
}

p {
    line-height: 26px;
    padding: 30px 550px 0 550px;
}

.doc {
    width: 100%;
    height: auto;
    margin-top: 60px;
}

.contact {
    width: 80%;
    margin: 0 auto;
}

.contact img {
    width: 49%;
    animation-name: myanimation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.33, 0.32, 0.68, 0.72);
}

@keyframes myanimation1 {
    from {
        
    }

    to {
        margin-top: 20px;
    }
}

.right {
    width: 45%;float: right;
}

.name,
.email,
.subject,
.textarea {
    padding: 20px;
    border: 1px solid #1b1b1b;
}

.subject,
.textarea {
    margin-top: 27px;
}

.name {
    width: 48%;
}

.email {
    width: 48%;
    float: right;
}

.subject {
    width: 100%;
}

.textarea {
    width: 100%;
}

.textarea:focus {
    outline: 0;
    border: 1px solid #1616db;
}

.right button {
    border: none;
    margin-top: 25px;
    background: #1616db;
}

.right button a {
    padding: 20px 40px;
    color: #fff;
    display: block;
}

.right button a:hover {
    -webkit-box-shadow: 5px 17px 20px -10px rgba(22, 22, 219, 0.4);
    box-shadow: 5px 17px 20px -10px rgba(22, 22, 219, 0.4);
}

input:focus {
    outline: 0;
    border: 1px solid #1616db;
}

.cube {
    height: 200px;
    width: 200px;
    border: 5px solid #ea545b40;
    position: absolute;
    top: 150px;
    left: 80px;
    animation-name: cubemation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.33, 0.32, 0.68, 0.72);
    z-index: -10;
}

.cube2 {
    height: 200px;
    width: 200px;
    border: 5px solid #1616db26;
    position: absolute;
    top: 680px;
    right: 80px;
    animation-name: cubemation;
    animation-duration: 5s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.33, 0.32, 0.68, 0.72);
    z-index: -10;
}

@keyframes cubemation {
    from {
        
    }

    to {
        transform: rotate(360deg);
    }
}
